@charset "UTF-8";

@media screen and (min-width: 992px) {
    #icone{
        display: none;
    }

    header > h1{
        padding: 60px;
        font-size: 3em;
    }

    header > h1:hover{
        transform: translate(-2px, -3px);
        text-shadow: 4px 5px 2px rgba(0, 0, 0, 0.505);
    }

    nav{
        background-color: #1f1204;
    }

    menu{
        display: block;
    }

    menu> ul> li{
        display: inline-block;
        
    }

   menu> ul> li> a{
    border-top: 0px;
    padding: 15px;
    border-radius: 5px;
    transition-duration: 1s;
   }

   main{
    margin-top: 0px;
    border-radius: 0px 0px 10px 10px;
    max-width: 1000px;
   }

   article > img{
    max-width: 400px;
    margin: 40px auto 40px auto;
   }
}