@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
html, body{
    background-color:#d3a27f;
}

header {
    background-image: url(../imagens/img-biblia.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

header>h1{
    margin: 0px;
    padding: 40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 2.2em;
}



#icone {
    background-color: #1f1204;
    display: block;
    color: white;
    text-align: center;
    padding: 10px
    
}

#icone:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
   
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: #341d08;
    color: white;
    text-align: center;
    border-top: 1px solid gray;
}

menu > ul > li > a:hover{
    background-color: #ffffff;
    color: black;
}

main{
    width: 90vw;
    padding: 15px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px ;
    margin-bottom: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.436);
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

article img{
    max-width: 250px;
    border-radius: 20px;
    margin: 30px auto 30px auto;
    display: block;
    box-shadow:  0px 1px 4px black; 
}


footer{
    background-color: #1f1204;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    background-color: #5e350f;
}